@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    ---bg-body-light: #f3f2f8;
    ---bg-header-light: #e4af0b;
    ---bg-search-light: #e4e3e9;
    ---placeholder-search-light: #95949a;


    ---placeholder-color: #2c2c2c;
    ---font-color: #dfdfdf;
    ---green-color: #26cc00;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

i.bi {
    font-size: 16px;
}

html,
body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(---bg-body-light);
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

note-header {
    color: var(---green-color);
    text-align: center;
    padding: 0 10px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

note-header .header-option {
    display: flex;
    column-gap: 10px;
}

note-header button,
note-header sort-note {
    color: white;
    background-color: var(---bg-header-light);
    height: fit-content;
    border: none;
    outline: none;
    padding: 5px 7px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

note-header sort-note {
    display: block;
    height: fit-content;
}

note-header button i {
    font-weight: bold;
    font-size: large;
}

[is=my-notes] {
    overflow: hidden;
    margin: 0 10px;
}

[is=my-notes] note-header {
    display: none;
}

note-item div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

note-item p {
    margin: 0;
}

note-item .note-item-title {
    font-weight: bold;
}

note-item .note-item-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 1.3em;
}

note-item .note-item-createAt {
    text-align: end;
    color: var(---placeholder-search-light);
}

note-item:is( :hover) .note-item-createAt {
    text-align: end;
    color: white;
}

note-item:is(:hover) div {
    background-color: var(---bg-header-light);
}

note-detail {
    position: fixed;
    z-index: -9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

note-detail.active {
    z-index: 9999;
}

note-detail form {
    height: 100%;
}

note-detail header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    color: var(---bg-header-light);
}

note-detail header button {
    color: var(---bg-header-light);
    outline: none;
    border: none;
    background-color: transparent;
}

note-detail input {
    outline: none;
    border: none;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px solid black;
}

note-detail #detail-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 20px;
    height: 100%;
    padding-bottom: 20px;
}

note-detail textarea {
    height: 100%;
    outline: none;
    border: none;
}